<section class="big-cart">

    <div class="big-cart__row big-cart__row_titles">
      <div class="big-cart__item big-cart__item_name">Товар</div>
      <div class="big-cart__item big-cart__item_count">Количество</div>
      <div class="big-cart__item big-cart__item_price">Цена</div>
      <div class="big-cart__item big-cart__item_actions"></div>
    </div>


    <div class="big-cart__row">
      <div class="big-cart__item big-cart__item_name">
        <div class="big-cart__image">
          <img class="photo" src="../assets/images/1tirel.jpg" alt="Брелок с гербом Тиреллов">
        </div>
        <a class="big-cart__name link" href="/catalog/item/keychain-growing-strong-the-tyrells/">Брелок "Вырастая - крепнем!" (Тиреллы)</a>


      </div>
      <div class="big-cart__item big-cart__item_count">

        <div class="big-cart__count product-count">
          <input value="17" class="product-count__input" name="QUANTITY_159"  type="text">
          <div class="product-count__button product-count__button_minus btn-default btn-default_black btn-default_box-shadow_none "></div>
          <div class="product-count__button product-count__button_plus btn-default btn-default_black btn-default_box-shadow_none "></div>
        </div>
      </div>
      <div class="big-cart__item big-cart__item_price">

        <div class="price big-cart__price">790</div>


      </div>
      <div class="big-cart__item big-cart__item_actions">
        <a href="/personal/cart/?action=delete&amp;id=159" class="big-cart__delete" title="Удалить товар из корзины"></a>
      </div>
    </div>


    <div class="big-cart__row">
      <div class="big-cart__item big-cart__item_name">
        <div class="big-cart__image">
          <img class="photo" src="../assets/images/2unface.jpg" alt="&quot;Монета Безликого&quot; (Valar Morghulis)">
        </div>
        <a class="big-cart__name link" href="/catalog/item/coin-of-the-faceless-valar-morgulis/">"Монета Безликого" (Valar Morghulis)</a>


      </div>
      <div class="big-cart__item big-cart__item_count">

        <div class="big-cart__count product-count" data-component="ProductCount">
          <input value="16" class="product-count__input" name="QUANTITY_160" type="text">
          <div class="product-count__button product-count__button_minus btn-default btn-default_black btn-default_box-shadow_none " data-click="reduce"></div>
          <div class="product-count__button product-count__button_plus btn-default btn-default_black btn-default_box-shadow_none " data-click="add"></div>
        </div>
      </div>
      <div class="big-cart__item big-cart__item_price">

        <div class="price big-cart__price">490</div>


      </div>
      <div class="big-cart__item big-cart__item_actions">
        <a href="/personal/cart/?action=delete&amp;id=160" class="big-cart__delete" title="Удалить товар из корзины"></a>
      </div>
    </div>


    <div class="big-cart__summ">
      Итого: <span class="price price_bold price_big big-cart__itog"> 21270</span>
    </div>

    <div class="big-cart__result">
      <a href="/personal/order/make/" class="btn-default btn-default_black btn-default_big btn-default_font_normal btn-default_accent" data-click="submit">Оформить заказ</a>
    </div>

</section>
